.myCard {
    width: 25%;
    height: 185px;
    margin: 10px;
    padding: 2%;
    float: left;
}

.JavaScript {
    color: #69d313;
}
.TypeScript {
    color: #2b7480;
}
.HTML {
    color: #e34f26;
}
.CSS {
    color: #f903a7;
}
.Python {
    color: #30a5db;
}

.newer-date {
    color: #a61ab3;
}
// .button {
//     margin: 20px;
//     background-color: white;
//     border-radius: 30px;
//     color: black;
//     width: 100px;
// }
// .margin {
//     margin: 0 auto;
// }